<a href="https://colab.research.google.com/github/Rohanborse/Machine-Learning-/blob/main/Gender_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [215]:
import pandas as pd

In [216]:
df = pd.read_csv("/content/liver_Train.csv")
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,34,dsfsf,6.2,3.0,240,1680,850,7.2,4.0,1.250000,1
1,7,Female,27.2,11.8,1420,790,1050,6.1,2.0,0.487805,1
2,8,Female,0.9,0.2,401,25,58,7.5,3.4,0.829268,1
3,10,Female,0.8,0.1,395,25,75,7.6,3.6,0.900000,1
4,13,Female,0.7,0.2,350,17,24,7.4,4.0,1.176471,1
...,...,...,...,...,...,...,...,...,...,...,...
575,75,Male,0.9,0.2,206,44,33,6.2,2.9,0.878788,1
576,75,Male,0.9,0.2,282,25,23,4.4,2.2,1.000000,1
577,75,Male,0.9,0.2,162,25,20,6.9,3.7,1.156250,1
578,78,Male,1.0,0.3,152,28,70,6.3,3.1,0.968750,1
579,90,Male,1.1,0.3,215,46,134,6.9,3.0,0.769231,1

In [217]:
from sklearn import preprocessing   
df2 = preprocessing.LabelEncoder()
df[ 'Gender' ]= df2.fit_transform(df[ 'Gender' ])   


df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,34,2,6.2,3.0,240,1680,850,7.2,4.0,1.250000,1
1,7,0,27.2,11.8,1420,790,1050,6.1,2.0,0.487805,1
2,8,0,0.9,0.2,401,25,58,7.5,3.4,0.829268,1
3,10,0,0.8,0.1,395,25,75,7.6,3.6,0.900000,1
4,13,0,0.7,0.2,350,17,24,7.4,4.0,1.176471,1
...,...,...,...,...,...,...,...,...,...,...,...
575,75,1,0.9,0.2,206,44,33,6.2,2.9,0.878788,1
576,75,1,0.9,0.2,282,25,23,4.4,2.2,1.000000,1
577,75,1,0.9,0.2,162,25,20,6.9,3.7,1.156250,1
578,78,1,1.0,0.3,152,28,70,6.3,3.1,0.968750,1
579,90,1,1.1,0.3,215,46,134,6.9,3.0,0.769231,1

In [218]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [219]:
df = df.drop(0,axis =0)

In [220]:
x = df.drop(["Gender"],axis = 1)
y = df["Gender"]
print(y.shape)
x.shape

(579,)

(579, 10)

In [281]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.9 ,random_state =0)

print(y_test.shape)
print(y_train.shape)
print(x_train.shape)
print(x_test.shape)

(522,)
(57,)
(57, 10)
(522, 10)

In [282]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# model = RandomForestClassifier()
# model = GradientBoostingClassifier()
model.fit(x_train,y_train)

GradientBoostingClassifier()

In [283]:
y_pred = model.predict(x_test)

In [284]:
y_pred

array([1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1])

In [285]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7068965517241379

In [286]:
df1 = pd.read_csv("/content/liver_Train_new.csv")
df1

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,55,0.7,0.2,290,53,58,6.8,3.4,1.0,1
1,34,6.2,3.0,240,1680,850,7.2,4.0,1.2,1
2,84,0.7,0.2,188,13,21,6.0,3.0,1.1,2
3,48,0.9,0.2,175,24,110,5.5,2.7,0.9,2

In [287]:
y_pred1 = model.predict(df1)
y_pred1

array([0, 1, 0, 1])

In [288]:
for i  in y_pred1:
  if i == 0 :
    print("Female")
  else:
    print("Male")

Female
Male
Female
Male

In [288]:
a bha